.dailyForecastContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 500;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.dailyForecastContainer h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem;
    color: #333;
    text-align: center;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 500;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: capitalize;
}


.dailyForecastModules {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 500;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: capitalize;
}


.dailyForecastModule {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    place-items: center;
    font-size: medium;
}

#dailyGridHeader {
    border-bottom: 1px solid black;
}